{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-decorators-legacy",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error",
          "Array"
        ]
      }
    ]
  ]
}